@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}
:root {
    --main-color: #fa5353;
    --black-color: #1b182b;
    --light-color: #322f40;
    --text-color :hsl(0, 0%, 91%);
}
::selection{
    color:var(--text-color);
    background-color: (--main-color);
}
section{
    padding: 4rem 0 3rem;
}
img{
    width: 100%;
}
body{
    background: var(--black-color);
    color: var(--text-color);  
}
.container{
    max-width: 1068px;
    margin:  auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-color);
    width: 100%;
    z-index: 100;
}
/* nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    margin:0 auto 0 0;
}
.logo span{
    color: var(--text-color);
}
.nav-icons .bx{
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background-color: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
}
#bell-icon {
    position: relative;
}
#bell-icon span {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background:var(--main-color);
    position: absolute;
    top: 10px;
    right: 14px;
}
/* Home */
.home {
    position: relative;
    min-height :540px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;
}
.home img{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.4rem;
    z-index: -1;
}
.home-text {
    padding-right: 4rem;
    text-align: right;
}
.home-text h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.btn {
    background: var(--main-color);
    padding: 15px 20px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;  
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 6% 100%, 0% 50%);
}
.heading {
    padding-left:13rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.heading .bx {
    
    font-size:21px;
    color:var(--text-color);
    background:var(--main-color);
    padding :10px;
    border-radius: 5rem;
}
.heading h2 {
    font-size: 1.2rem;
    font-weight: 500; 
}
.box{
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 0.5rem;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.box .box-text {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: hsl(277, 14%, 20%,0.8);
    backdrop-filter: blur(4px);
    border-radius: 0.5rem;
}
.box .box-text h2 {
    font-size: 1rem;
    font-weight: 500;
}
.box .box-text h3 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}
.rating {
    display: flex;
    align-items: center;
    column-gap: 2px;
    background: hsl(0, 0%, 100%,0.4);
    padding: 2px 2px;
    border-radius: 0.5rem;
}
.rating .bx {
    color: yellow;
    font-size: 0.9rem;
}
.rating .span {
    color: yellow;
    font-size: 0.9rem;
}
/* video */
.video-container video {
    width: 100%;
    aspect-ratio: 16/9;
}
.video-container {
    margin-top: 5rem;
}
.about {
    margin-top: 2rem;
}
.about h2 {
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 4px solid var(--main-color);
}
.about p{
    font-size: 0.983rem;
    margin-top: 1rem;
    text-align: justify;
}
/* Reservation */
.banner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("card-img.jpg") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #f2745f;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}